<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Aramis Prod</title>
  <link rel="stylesheet" href="bootstrap-grid.min.css">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <header class="video-bg-wrapper">
    <div class="video-overlay">
      <video id="header-showreel" loop autoplay muted playsinline>
        <source src="/images/header.webm" type="video/webm">
        <source src="/images/header.mp4" type="video/mp4">
      </video>
    </div>
    <div class="text-overlay">
      <img src="/images/logo.png" />
      <!-- <h1>Aramis Prod</h1> -->
    </div>
  </header>

  <main>
    <h2 class="subtitle">Aramis Prod <br />Production&nbsp;/&nbsp;Réalisation&nbsp;/&nbsp;Montage</h2>


    <div class="container-fluid px-0">
      <div class="row justify-content-center mx-0">
        <div class="col-lg-8 px-0">
          <div id="showreel" class="py-4">
            <!-- <h2>Showreel</h2> -->
            <iframe id="yt-showreel" src="https://www.youtube.com/embed/_j8_CBWFIAQ?enablejsapi=1&modestbranding=1"
              title="Showreel" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>

    <ul class="menu">
      <li><a href="#music">Musique</a></li>
      <li><a href="#documentaires">Documentaire</a></li>
      <li><a href="#stopmotion">Stop-Motion</a></li>
      <li><a href="#drones">Drone</a></li>
    </ul>

    {% assign section_id = "music" %}
    {% assign section_title = "Musique" %}
    {% assign videos = collections.videosMusique %}
    {% include "section.html" %}

    {% assign section_id = "documentaires" %}
    {% assign section_title = "Documentaire" %}
    {% assign videos = collections.videosDocumentaires %}
    {% include "section.html" %}

    {% assign section_id = "documentaires" %}
    {% assign section_title = "Documentaire" %}
    {% assign videos = collections.videosDocumentaires %}
    {% include "section.html" %}

    {% assign section_id = "stopmotion" %}
    {% assign section_title = "Stop-Motion" %}
    {% assign videos = collections.videosStopmotion %}
    {% include "section.html" %}

    {% assign section_id = "drones" %}
    {% assign section_title = "Drone" %}
    {% assign videos = collections.videosDrone %}
    {% include "section.html" %}

    <section id="artists">
      <div class="container px-0">
        <div class="row justify-content-middle align-items-center mx-0">
          <div class="col-sm-5">
            <h2>Artistes</h2>
          </div>
          <div class="col-sm-7">
            <ul>
              <li>
                <a href="https://www.facebook.com/aquiloquevocesquiserem" target="_blank">
                  Aquilo que vocês quiserem
                </a>
              <li>
                <a href="https://www.facebook.com/JeanMarcSauvagnargues" target="_blank">
                  Jean Marc Sauvagnargues
                </a>
              </li>
              <li>
                <a href="https://www.facebook.com/patricia.lestre" target="_blank">
                  Patricia Lestre
                </a>
              </li>
              <li>
                <a href="https://www.facebook.com/bajocielobanda" target="_blank">
                  Bajo Cielo
                </a>
              </li>
              <li>
                <a href="https://www.facebook.com/abandaparis" target="_blank">
                  A Banda
                </a>
              </li>
              <li>
                <a href="https://www.youtube.com/channel/UChM5IMvM6Veb5SrQMKo9klA" target="_blank">
                  Dullmea
                </a>
              </li>
              <li>
                <a href="https://www.facebook.com/lehna.sam.9">Lehna</a>
              </li>
              <li>Aurélien Hoffmann </li>
              <li>Clémentine Fouquet</li>
              <li>Fee Blumenthaler</li>
              <li>Beatriz Rola</li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <section id="profile">
      <div class="container px-0">
        <div class="row align-items-center justify-content-center mx-0">
          <div class="col-md-3">
            <img src="images/simon.png" alt="Simon Monteil" class="max-width-100" />
            <h3>Simon Monteil</h3>
          </div>
          <div class="col-md-6 text-left">
            <p>
              Aussi loin que je m'en souvienne, j'ai toujours été passionné par l'image, que ce soit la photo ou la
              vidéo.<br />
              Il y a 10 ans, après une formation de 3 ans à l'ESEC ( école supérieur d'études cinématographiques de
              Paris ), je me lançais dans la vie active.<br />
              Fort de mon expérience de 7 ans à la télévision, je décide aujourd'hui d'être à mon compte et ainsi
              pouvoir travailler sur des projets qui me correspondent plus.
            </p>
            <p>
              Outre mon expertise, je possède du matériel audiovisuel professionnel
              ( plusieurs caméras, stabilisateur, drone, lumières, micros, etc ) qui me permet de réaliser des vidéos de
              qualité de la conception jusqu'à l'habillage.<br />
              Ce site est pour moi un moyen de vous partager mon travail et peut être éveiller en vous une volonté de
              collaboration future.
            </p>
          </div>
        </div>
      </div>
    </section>
  </main>

  <footer>
    <div class="container px-0">
      <div class="row justify-content-center align-items-center mx-0">
        <div class="col-lg-8 px-0">
          Aramis Prod ·
          <a href="mailto:contact@aramisprod.fr">
            contact@aramisprod.fr
          </a>
        </div>
      </div>
    </div>
  </footer>
</body>

<script src="index.js"></script>
<script src="https://www.youtube.com/iframe_api"></script>

</html>
