html, body {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #909090;
}

/* 11ty displays empty <p> around template contents */
p:empty {
  display: none;
}

.video-bg-wrapper {
  position: relative;
  margin-bottom: 10rem;
  height: 30vh;
  min-height: 150px;
}
header.video-bg-wrapper {
  margin-bottom: 0;
}

.text-overlay {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  height: 100%;
  overflow: hidden;
}

header h1 {
  font-size: 42px;
  font-family: "Shadows Into Light Two";
}

header img {
  display: inline-block;
  width: 80px;
  margin-right: 1em;
  filter: invert();
}

.col-video-wrapper {
}

.video-overlay {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  filter: blur(1.5px);
  overflow: hidden;
}

.video-overlay video {
  width: 100%;
}

iframe {
  height: 20rem;
  width: 100%;
}

main {
  text-align: center;
  padding-bottom: 2rem;
}

section {
  border-top: 1px solid;
  margin: 5rem 0;
  padding-top: 5rem;
}

section#showreel {
  padding-top: 0;
}

.yt-video-wrapper{
  margin-bottom: 10rem;
}

#profile img {
  width: 150px;
  border-radius: 30px;
}

p {
  font-size: 1.2rem;
}


footer {
  border-top: 1px solid;
  padding: 1rem;
  display: flex;
}
footer a {
  color: inherit;
}
footer div:not(:first-child) {
  margin-left: 1rem;
}

#artists ul {
  text-align: left;
}

#artists a {
  color: inherit;
}

.text-left {
  text-align: left;
}

.text-italic {
  font-style: italic;
}

.max-width-100 {
  max-width: 100%;
}

@font-face {
  font-family: "Shadows Into Light Two";
  src: url("/ShadowsIntoLightTwo-Regular.ttf") format("truetype");
}

h2.subtitle {
  margin: 5rem 0;
}

@media only screen and (max-width : 460px) {
  h2.subtitle {
    font-size: 20px;
  }
}

@media only screen and (min-width : 780px) {
  .video-bg-wrapper {
    height: 60vh;
  }
}
