html, body {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #909090;
}

/* 11ty displays empty <p> around template contents */
p:empty {
  display: none;
}

header {
  min-height: 150px;
  height: 25vh;
  padding-bottom: 2rem;
}

.text-overlay {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  height: 25vh;
  min-height: 150px;
  overflow: hidden;
}

header h1 {
  font-size: 24px;
}

header img {
  width: 80px;
  margin-right: 1em;
  filter: invert();
}

.col-video-wrapper {
  position: relative;
  margin-bottom: 5rem;
}

.video-overlay {
  position: absolute;
  z-index: 1;
  height: 30vh;
  max-height: 100%;
  filter: blur(1.5px);
  overflow: hidden;
}

.video-overlay video {
  width: 100%;
}

iframe {
  height: 20rem;
  width: 100%;
}

main {
  text-align: center;
  padding-bottom: 2rem;
}

section {
  border-top: 1px solid;
  margin: 5rem 0;
  padding-top: 5rem;
}

section#showreel {
  padding-top: 0;
}

section p{
  padding-bottom: 2rem;
  font-style: italic;
}

#avatar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: left;
}
#avatar img {
  width: 150px;
  border-radius: 30px;
}
#avatar div {
  /* padding-left: 1rem; */
  font-size: 1.2rem;
}
#profile p {
  padding-top: 1rem;
}

p {
  font-size: 1.2rem;
}


footer {
  border-top: 1px solid;
  padding: 1rem;
  display: flex;
}
footer a {
  color: inherit;
}
footer div:not(:first-child) {
  margin-left: 1rem;
}

#artists ul {
  text-align: left;
}

#artists a {
  color: inherit;
}
